<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCyiPnaci1gpy7PSnUTc2NyN01X3Wubf5c</string>
	<key>GCM_SENDER_ID</key>
	<string>183940707232</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rsiaaisyiyah.employee</string>
	<key>PROJECT_ID</key>
	<string>rsia-aisyiyah</string>
	<key>STORAGE_BUCKET</key>
	<string>rsia-aisyiyah.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:183940707232:ios:7cb80718b1af487484eac5</string>
</dict>
</plist>